
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono:wght@200;400&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');


body{
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

header{
    width: 300px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 550px;
    margin-right: 550px;
}

header img{
    float: left;
}

header h1{
    position: relative;
    top: 10px;
    left: 10px;
}

body nav{
    width: 300px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 550px;
    margin-right: 550px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

body nav a{
    margin: 20px;
    color: #000;
    text-decoration: none;
}

main{
    width: 750px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 370px;
    margin-right: 370px;
}

main section{
    width: 500px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #F6F6F9;
    border-radius: 20px;
}

section h2{
    font-size: 19px;
}

#inputNovaTarefa{
    font-family: "Lato", sans-serif;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 380px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #0CCBDE;
}

#btnNovaTarefa{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin: 0, 25px;
    color: #fff;
    background-color: #0CCBDE;
}

#btnNovaTarefa:hover {
    transform: scale(1.1);
}

#listaDeTarefas ul{
    margin: 0;
    padding: 0;
}

#listaDeTarefas li{
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
}

#listaDeTarefas li:hover {
    background-color: #0CCBDE;
    color: #FFFFFF;  
}
